* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  background-color: #212529;
  color: #fff;
}

.app {
  padding: 2rem 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h1 span {
  color: #ffb703;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  color: #212529;
  /* font-weight: bold; */
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #ffb703;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 1.5px;
}

img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 3rem auto;
}

.download {
  appearance: none;
  outline: none;
  border: 2px solid #ffb703;
  border-radius: 5px;
  background: none;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #ffb703;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 1.5px;
}
